# Example environment file for scratchagent.

# OpenAI API Key (required for most examples)
OPENAI_BASE_URL=
OPENAI_API_KEY=

# embedding 模型 和  GPT-4o 多模态模型
OPENROUTER_BASE_URL=
OPENROUTER_API_KEY=

TAVILY_API_KEY=

HF_TOKEN=

E2B_API_KEY=